.#{$color-picker-handle-class} {
  border-radius: $border-radius;
  background-color: $dark-color;
  height: $color-picker-handle-height;
  width: $color-picker-handle-width;
  cursor: pointer;
  border: 2px solid transparent;
}

.#{$color-picker-dropdown-class} {
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}