$input-class: #{$prefix}input;
$icon-padding: 25px;

.#{$input-class} {
  display: inline-block;
  position: relative;
  
  .#{$input-class}__input {
    border-radius: $border-radius;
    background-color: $dark-color;
    color: $primary-color;
    outline: none;
    border: none;
    font-size: $font-size-base;
    color: $hint-white-color;
    padding: $input-padding;
    width: 100%;
    box-sizing: border-box;
    transition: $base-transition;
    &.with-prefix-icon {
      padding-left: $icon-padding;
    }
  }

  .#{$input-class}__icon {
    position: absolute;
    color: $medium-gray-color;
    width: $icon-padding;
    height: 100%;
    line-height: 100%;
    top: 0;
    text-align: center;
    font-size: $font-size-medium;
    display: table;
    transition: $base-transition;
    &:before {
      display: table-cell;
      vertical-align: middle;
    }
  }
}