.#{$input-class} {
  display: inline-block;
  position: relative;
  width: 100%;
  
  .#{$input-inner-class} {
    border-radius: $border-radius;
    background-color: $dark-color;
    border: 1px solid transparent;
    outline: none;
    font-size: $font-size-base;
    color: $hint-white-color;
    padding: $input-padding;
    width: 100%;
    box-sizing: border-box;
    transition: $base-transition;
    &.with-prefix-icon {
      padding-left: $input-icon-width;
    }
    &.with-suffix-icon {
      padding-right: $input-icon-width;
    }
    &:focus {
      border-color: $primary-color;
    }
  }

  .#{$input-icon-class} {
    position: absolute;
    color: $medium-gray-color;
    width: $input-icon-width;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    font-size: $font-size-base;
    line-height: 1;
    &.fixed-text:before {
      content: attr(data-text);
    }
    &.#{$input-icon-class}--suffix {
      right: 0;
    }
  }
}

.#{$input-class}--disabled {
  .#{$input-inner-class} {
    color: $disabled-text-color;
    cursor: not-allowed;
  }
  .#{$input-icon-class} {
    color: darken($disabled-text-color, 10);
  }
}