.#{$input-number-class} {
  position: relative;
  display: inline-block;
  width: 120px;
  
  $button-class: #{$input-number-class}__button;
  
  .#{$button-class} {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 $border-radius $border-radius 0;
    background-color: $dark-color;
    overflow: hidden;
    .viz-icon {
      color: $medium-gray-color;
      width: $input-number-icon-width;
      height: 50%;
      display: block;
      text-align: center;
      overflow: hidden;
      font-size: $font-size-small;
      cursor: not-allowed;
      position: relative;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
      }
    }
    &:not(.#{$button-class}--disabled) {
      .viz-icon {
        cursor: auto;
        &:hover {
          background-color: darken($dark-color, 3);
          color: $hint-white-color;
          cursor: pointer;
        }
        &:active {
          background-color: darken($dark-color, 6);
          color: $hint-white-color;
        }
      }
    }
  }
}

&.#{$input-number-class}--padding {
  box-sizing: border-box;
  padding-right: $input-number-icon-width;
  .#{$input-inner-class} {
    border-radius: $border-radius 0 0 $border-radius;
  }
}