.#{$radio-class} {
  $display-class: #{$radio-class}-display;
  $handle-class: #{$display-class}__handle;
  $transition: .05s ease-in;
  display: inline-block;
  margin-right: $radio-aspect;

  color: $hint-white-color;
  font-size: $font-size-base;

  input[type="radio"] {
    display: none;
    &:checked + .#{$display-class} {
      .#{$handle-class} {
        border-color: $primary-color;
        border-width: floor($radio-aspect / 3);
      }
    }
    &:disabled + .#{$display-class} {
      cursor: not-allowed;
      color: $disabled-text-color;
      .#{$handle-class} {
        background-color: lighten($dark-color, 4);
      }
    }
    &:checked:disabled + .#{$display-class} {
      .#{$handle-class} {
        border-color: $dark-color;
        background-color: lighten($dark-color, 20)
      }
    }
  }

  .#{$display-class} {
    cursor: pointer;
  }

  .#{$handle-class} {
    display: inline-block;
    width: $radio-aspect;
    height: $radio-aspect;
    border-radius: 50%;
    vertical-align: middle;
    background-color: $dark-color;
    background-color: lighten($dark-color, 2);
    border: 1px solid $dark-color;
    box-sizing: border-box;
    transition: $transition;
  }

  .#{$display-class}__label {
    vertical-align: middle;
    margin-left: $font-size-small / 3;
  }
}