.#{$select-class} {
  // 只有一个Input在里面
  width: $select-width;
}
.#{$select-dropdown-class} {
  width: $select-width;

  .#{$option-class} {
    padding: $option-padding;
  }
  .#{$option-class}--selected {
    position: relative;
    background-color: rgba(255, 255, 255, .15);
    color: $white-color;
    &:after {
      content: '';
      position: absolute;
      left: 8px;
      top: 50%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      transform: translateY(-50%);
      background-color: $primary-color;
    }
  }
}