@import "./vars";
@import "./components/index";
@import url("//at.alicdn.com/t/font_2029293_3a1rcv9meih.css");

/***
  共用
*/
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: $font-size-base;
  color: $hint-white-color;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}