$prefix: viz-;

// colors
$primary-color: #4c7fff !default;
$dark-color: #242424 !default;
$white-color: #fff !default;
$hint-white-color: #e6f5f4 !default;
$medium-gray-color: #ababab;
$disabled-text-color: #999;

// values
$border-radius: 2px !default;
$font-size-small: 12px !default;
$font-size-base: 14px !default;
$font-size-medium: 16px !default;
$font-size-large: 20px !default;

$dropdown-index: 66;

// transition
$base-transition: all .2s cubic-bezier(.645, .045, .355, 1) !default;


/***
  组件
*/
// input
$input-class: #{$prefix}input;
$input-padding: 6px 10px !default;
$input-inner-class: #{$input-class}__input;
$input-icon-class: #{$input-class}__icon;
$input-icon-width: $font-size-base * 2 !default;
$input-border-width: 1px !default;

// input-number
$input-number-class: #{$prefix}input-number;
$input-number-icon-width: $input-icon-width !default;

// button
$button-class: #{$prefix}button;
$button-height: 28px !default;
$button-padding: 0 10px !default;

// checkbox
$checkbox-class: #{$prefix}checkbox;
$checkbox-aspect: $font-size-base !default;

// radio
$radio-class: #{$prefix}radio;
$radio-aspect: $font-size-base - 1px !default;

// tooltip
$tooltip-class: #{$prefix}tooltip;
$tooltip-background: $dark-color !default;
$tooltip-padding: $font-size-base / 3 $font-size-base / 2;
$tooltip-arrow-thickness: 8px !default;
$tooltip-arrow-height: $tooltip-arrow-thickness - $tooltip-arrow-thickness / 4 !default;

// dropdown
$dropdown-class: #{$prefix}dropdown;
$dropdown-menu-class: #{$dropdown-class}__menu;
$dropdown-item-class: #{$dropdown-class}-item;
$dropdown-menu-padding: 5px 0 !default;
$dropdown-item-padding: 5px 10px !default;
$dropwdown-menu-gap: 5px !default;

// select
$select-class: #{$prefix}select;
$select-dropdown-class: #{$select-class}__dropdown;
$select-width: 180px !default;
$option-class: #{$prefix}option;
$option-padding: 5px 10px 5px 20px !default;

// slider
$slider-class: #{$prefix}slider;
$slider-thumb-aspect: 12px !default;
$slider-track-thickness: 4px !default;
$slider-input-width: 80px !default;

// switch
$switch-class: #{$prefix}switch;
$switch-width: 28px !default;
$switch-height: 14px !default;